<h1>Blee#index</h1>
<p>Find me in app/views/blee/index.html.erb</p>
<%= ziya_chart( url_for(  :controller => 'blee', :action => 'load_chart' ),
                   :id => 'my_chart', :wmode => "transparent", :width => 500, :height => 400 ) %>
