<h1>
  Request for Budget Item Change
</h1>
<p>
  Changes to individual budget line items must be approved prior to further funds being expended.
</p>
<p>
  Changes must be between accounts within the same department, unless funds are being requested from Reserves.
    If the funds are to be sourced from Reserves, Council approval will be required and a Transmittal Memo must be prepared.
</p>
<p>
  All changes must be approved by the Finance Department and the Town Administrator.
</p>
<p>
  If in the opion of the Finance Department and / or the Town Administrator Council
  Approval may be required.
</p>
<p>
  All changes to budgets will be reported at the monthly Finance Committee meeting, first Tuesday of each month.
</p>

<%= button_to "Continue", :action => 'new' %> <%= button_to "Cancel", {:controller => 'finance', :action => 'index'} %>
