<tr>
  <td colspan=2>
   
  </td>
  <td colspan=2 class="budget-table-header-year">
    <%=h @prior_year %>
  </td>
  <td colspan=2>
   
  </td>
  <td colspan=2 class="budget-table-header-year">
    <%=h @prior_year %>
  </td>
</tr>
<tr class="budget-table-header">
  <th>
    Month
  </th>
  <th>
    Amount
  </th>
  <th>
    Budget
  </th>
  <th>
    Actual
  </th>
  <th>
    Month
  </th>
  <th>
    Amount
  </th>
  <th>
    Budget
  </th>
  <th>
    Actual
  </th>
</tr>
